# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# Soundsets
Ivona/
Veronika/
Zbynek/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project files
__main__.py
wpa_supplicant.conf
sh.log
global_config.ini
