[Unit]
Description=Station announcement service
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=$WORKDIR
ExecStart=$WORKDIR/sh-venv/bin/python3 $WORKDIR/__main__.py

[Install]
WantedBy=multi-user.target
