[Unit]
Description=Station report service
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/Desktop/stanicni-hlaseni/
ExecStart=/usr/bin/python3.5 /home/pi/Desktop/stanicni-hlaseni/__main__.py

[Install]
WantedBy=multi-user.target
